.container {
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  justify-content: center;
  margin-left: 30px;
  border-right: 2px solid gray;
  margin-top: 25px;
}

.heading {
  font-weight: bold !important  ;
  margin-bottom: 20px !important;
}

.description {
  width: 100%;
  text-align: justify;
  padding-bottom: 15px;
  margin-right: 25px !important;
}

.marketData {
  align-self: start;
  padding-top: 10px;
  width: 100%;
}
@media (max-width: 900px) {
  .marketData {
    display: flex;
    justify-content: space-around;
  }
}
@media (max-width: 600px) {
  .marketData {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 0px) {
  .marketData {
    align-items: start;
  }
}

@media (max-width: 900px) {
  .sidebar {
    width: 100%;
    border-right: none;
  }
}

@media (max-width: 900px) {
  .heading {
    margin-left: 40px !important;
  }
}

@media (max-width: 1280px) {
  .heading {
    margin-left: 40px !important;
  }
}

@media (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
