.darkThemeBtn {
  color: rgba(255, 255, 255, 0.87) !important;
  background: none !important;
  border-color: turquoise !important;
  padding: 10px 40px !important;
  text-transform: none !important;
}

.darkThemeBtn:hover {
  color: #242424 !important;
  background-color: turquoise !important;
}

.lightThemeBtn {
  color: #242424 !important;
  background: none !important;
  border-color: #1a237e !important;
  padding: 10px 40px !important;
  text-transform: none !important;
}

.lightThemeBtn:hover {
  color: rgba(255, 255, 255, 0.87) !important;
  background-color: #1a237e !important;
  padding: 10px 40px !important;
}

.selectedDarkBtn {
  background-color: turquoise !important;
  color: #242424 !important;
  font-weight: bold !important;
  padding: 10px 40px !important;
  text-transform: none !important;
}

.selectedLightBtn {
  background-color: #1a237e !important;
  color: rgba(255, 255, 255, 0.87) !important;
  font-weight: bold !important;
  padding: 10px 40px !important;
  text-transform: none !important;
}
