:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.dark-theme {
  --main-heading: turquoise;
  --para-clr: rgba(255, 255, 255, 0.87);
  --btn-bg-color: turquoise;
  --btn-text-color: rgba(255, 255, 255, 0.87);
  --bg-clr: #242424;
  color-scheme: light dark;
}

.light-theme {
  --main-heading: #1a237e;
  --para-clr: #242424;
  --btn-bg-color: #1a237e;
  --btn-text-color: rgba(255, 255, 255, 0.87);
  --bg-clr: rgba(255, 255, 255, 0.87);
}

body {
  background-color: var(--bg-clr);
}

h1,
h6 {
  color: var(--main-heading);
}

p {
  color: var(--para-clr);
}

button {
  color: var(--btn-text-color) !important;
  background-color: var(--btn-bg-color) !important;
}

button:hover {
  border: 1px solid;
  border-color: #646cff;
}

a {
  text-decoration: none;
  color: var(--main-heading);
  cursor: pointer;
}
