.banner {
    height: 350px;
    width: 100%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-repeat: repeat-x;
    padding-top: 50px;
}